@model NEMESYS.ViewModels.AllReportsAndLoggedInUserViewModel

@{
    ViewData["Title"] = "Your Assigned Reports";
}

<div class="HeadingRow">
    <h2 class="heading-left">Your Assigned Reports</h2>

    <p class="heading-right">
        <a class="createNewReportButton" asp-action="CreateReport">Create New</a>
    </p>
</div>

<hr />

<!--Only investigators and admins should be able to access this page-->
<!--If the user who is currently logged in is NOT an investigator or an admin, display the following-->
@if (Model.userObj.Role == roles.Reporter) {
    <h2 id="NotAnInvestigatorOrAdminMessage">You are not an Investigator or Admin!</h2>
}

//Else (if the user who is currenty logged in IS an investigator or admin), display the following
else {
    <div>
        <form method="GET" asp-controller="Report" asp-action="GetYourAssignedReports">
            <p>
                <div class="FilterBy">
                    Hazard Type:
                </div>
                <div class="FilterInputFieldContainer">
                    <input class="FilterInputField1" type="text" name="searchString">
                </div>
                <div class="FilterButton">
                    <input class="styled-btn-sm" type="submit" value="Filter" />
                </div>
            </p>
        </form>
    </div>

    <div>
        <form method="GET" asp-controller="Report" asp-action="GetYourAssignedReports">
            <p>
                <div class="FilterBy">
                    Report Status:
                </div>
                <div class="FilterInputFieldContainer">
                    <select type="submit" name="statusString" class="FilterInputField2">
                        <option value=""> All </option>
                        <option value="Open">Open</option>
                        <option value="BeingInvestigated">Being Investigated</option>
                        <option value="Closed">Closed</option>
                        <option value="NoActionRequired">No Action Required</option>
                    </select>
                </div>
                <div class="FilterButton">
                    <input class="styled-btn-sm" type="submit" value="Filter" />
                </div>

            </p>
        </form>
    </div>

    <br />

    <!--If the reportList does not contain any reports, display an appropriate message-->
    if (Model.reportList == null || !Model.reportList.Any()) {
        <hr />
        <h2 class="NoReportsMessage">No Reports Found!</h2>
    }
    //Otherwise(i.e. if the reportList does contain reports), display their details
    else {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().Reporter)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().Investigator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().UpVoteCount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().TypeOfHazard)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().DateOfSubmission)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.reportList.FirstOrDefault().Priority)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.reportList) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reporter.FullName)
                        </td>
                        <td>
                            @if (item.InvestigatorID == null) {
                                <span>Not Assigned Yet</span>
                            }
                            else {
                                <span>@item.Investigator.FullName</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpVoteCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TypeOfHazard)
                        </td>
                        <td type="Date">
                            @item.DateOfSubmission.ToString("dd/MMM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            <a class="styled-link" asp-action="Details" asp-route-id="@item.ReportId">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}